
<div class = "google_map" onload="google_map_initialize()">
  <div id="map_canvas"></div>
</div>

<nav>
	<ul>
		<% @subjects.each do |subject| %>
		  <li><% link_to subject.name.capitalize, subjects_url(subject) %></a></li>
		<%end%>
		<li><a href="#">Edit</a></li>
		<li><a href="#">View</a></li>
		<li><a href="#">Help</a></li>
		
	</ul>
</nav>
<% @tutors.each do |tutor| %>
	<h2><%= link_to tutor.name, tutor_url(tutor) %></h2>
	<h4><%= tutor.user.city %></h4>
	<p><%= truncate(tutor.tutor_welcome, :length => 160) %><p>
<%end%>
<%= paginate @tutors %>