<div class="container">
	
	<% if flash[:notice] %>
		<h3 class="prepend-1"><%= flash[:notice] %></h1>
	<% end %>
	
	<div class="row">
		
		<div class="span8 offset2">
			<div class="center">
			<br></br><!-- get rid of this after styling -->
			<br></br>
			<br></br><!-- get rid of this after styling -->
				<h1>Learn Something New!</h1>
			  <h2>Find the best tutors and classes in your city</h2>
			<br></br><!-- get rid of this after styling -->
			
		    <div class="hero-unit">

	
			  
		
						<%= form_tag study_groups_url, :method => 'get', :class => "prepend-3" do %>
								<label>I want to learn...</label>
								<input id='search-subject' type="text" class="span6 search-query" name='subject' value='' autocomplete='off' placeholder="a subject..." data-provide="typeahead" data-items="4" data-source="[&quot;Guitar&quot;,&quot;Classicial Guitar&quot;,&quot;Piano&quot;,&quot;Rails&quot;,&quot;Coding&quot;,&quot;Football&quot;]">
						    <label>near...</label>
						    
						    <input id='search-location' type="text" class="span6 search-query" name='location' value='' autocomplete='off' placeholder="a place...">
						    <br/><br/>
								<button type="submit" class="btn btn-success btn-large">Search for your tutor</button>
						<% end %>
		
		
			  </div>
			
			
	    </div>
    </div>
  </div>
</div>


















