

<div id="home" class = "span-13 push-12">
	<div id="navbar" class="prepend-1">
		<ul>
			<li><a href = "#"> TEACHERS</a></li>
			<li><a href = "#"> STUDENTS</a></li>
			<li><a href = "#"> BLOG</a></li>
			<li><a href ="#"><img src="/assets/facebook_32.png"></a></li>
		</ul>
	</div>
	
		<h1 class="prepend-1">Learn Something</h1>
	
	<blockquote class="prepend-1">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."-Stephen Fry</blockquote>

	<form class="prepend-3">
		<label>I want to learn...</label><br/><input class= "span-7" type ="text"><br/></br>
		<label>near...</label><br/><input class ="span-7" type = "text" ><br/><br/>
		<span class="prepend-5"><input type = "submit", value = "Submit"></span>
	</form>

</div>