

<div id="home" class = "span-8 push-15">

	<ul >
		<li><a href = "#"> TEACHERS | </a></li>
		<li><a href = "#"> STUDENTS | </a></li>
		<li><a href = "#"> BLOG | </a></li>
		<li>Facbook</li>
	</ul>



	<h1>Learn Something</h1>

	<blockquote>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."-Stephen Fry</blockquote>

	<form>
		<label>I want to learn...</label><br/><input class= "span-7" type ="text"><br/></br>
		<label>near...</label><br/><input class ="span-7" type = "text" ><br/><br/>
		<input type = "submit", value = "Submit">
	</form>

</div>