<!DOCTYPE html>
<html>
<head>
	<title>CSS Framework</title>
</head>
<body>
	<div class ="container">
		<h1 class ="span-24">
			H1 Header
		</h1>
		<div class ="span-12">
			<h2>H2 Header</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam diam lacus, cursus et commodo eget, feugiat vestibulum quam. Sed lorem leo, malesuada sit amet tempus eu, luctus in eros. Aliquam erat volutpat. Pellentesque vel turpis a leo auctor pulvinar ac non felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec pellentesque tellus. Aenean vel tellus diam, et tempus est. Proin dolor neque, viverra in laoreet eget, ornare et sem. In nec tortor id neque pellentesque volutpat eu et nunc. Duis iaculis orci eu dolor varius vel volutpat mi iaculis. Morbi vehicula, nisi in ullamcorper vehicula, sem elit imperdiet sapien, tristique sagittis nunc libero vel velit. Phasellus lobortis imperdiet est eu pretium. Curabitur enim libero, ultrices ut fringilla sed, tempus vitae sem. Duis at sem diam, eget tincidunt dui. Suspendisse tortor quam, ultrices a tincidunt eu, posuere bibendum lacus. Phasellus fermentum tortor et metus viverra vehicula.
			</p>
			<h3 class = "span-12">H3 Header</h3>
			<div class = "span-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam diam lacus, cursus et commodo eget, feugiat vestibulum quam. Sed lorem leo, malesuada sit amet tempus eu, luctus in eros. Aliquam erat volutpat. Pellentesque vel turpis a leo auctor pulvinar ac non felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec pellentesque tellus. Aenean vel tellus diam, et tempus est. Proin dolor neque, viverra in laoreet eget, ornare et sem. In nec tortor id neque pellentesque volutpat eu et nunc. Duis iaculis orci eu dolor varius vel volutpat mi iaculis. Morbi vehicula, nisi in ullamcorper vehicula, sem elit imperdiet sapien, tristique sagittis nunc libero vel velit. Phasellus lobortis imperdiet est eu pretium. Curabitur enim libero, ultrices ut fringilla sed, tempus vitae sem. Duis at sem diam, eget tincidunt dui. Suspendisse tortor quam, ultrices a tincidunt eu, posuere bibendum lacus. Phasellus fermentum tortor et metus viverra vehicula.</p>
			</div>
			<div class ="span-6 last">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam diam lacus, cursus et commodo eget, feugiat vestibulum quam. Sed lorem leo, malesuada sit amet tempus eu, luctus in eros. Aliquam erat volutpat. Pellentesque vel turpis a leo auctor pulvinar ac non felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec pellentesque tellus. Aenean vel tellus diam, et tempus est. Proin dolor neque, viverra in laoreet eget, ornare et sem. In nec tortor id neque pellentesque volutpat eu et nunc. Duis iaculis orci eu dolor varius vel volutpat mi iaculis. Morbi vehicula, nisi in ullamcorper vehicula, sem elit imperdiet sapien, tristique sagittis nunc libero vel velit. Phasellus lobortis imperdiet est eu pretium. Curabitur enim libero, ultrices ut fringilla sed, tempus vitae sem. Duis at sem diam, eget tincidunt dui. Suspendisse tortor quam, ultrices a tincidunt eu, posuere bibendum lacus. Phasellus fermentum tortor et metus viverra vehicula.</p>
			</div>
		</div>
		<div class ="span-8">
			<h2>H2 Header</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam diam lacus, cursus et commodo eget, feugiat vestibulum quam. Sed lorem leo, malesuada sit amet tempus eu, luctus in eros. Aliquam erat volutpat. Pellentesque vel turpis a leo auctor pulvinar ac non felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec pellentesque tellus. Aenean vel tellus diam, et tempus est. Proin dolor neque, viverra in laoreet eget, ornare et sem. In nec tortor id neque pellentesque volutpat eu et nunc. Duis iaculis orci eu dolor varius vel volutpat mi iaculis. Morbi vehicula, nisi in ullamcorper vehicula, sem elit imperdiet sapien, tristique sagittis nunc libero vel velit. Phasellus lobortis imperdiet est eu pretium. Curabitur enim libero, ultrices ut fringilla sed, tempus vitae sem. Duis at sem diam, eget tincidunt dui. Suspendisse tortor quam, ultrices a tincidunt eu, posuere bibendum lacus. Phasellus fermentum tortor et metus viverra vehicula.</p>

			<h3>H3 Header</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam diam lacus, cursus et commodo eget, feugiat vestibulum quam. Sed lorem leo, malesuada sit amet tempus eu, luctus in eros. Aliquam erat volutpat. Pellentesque vel turpis a leo auctor pulvinar ac non felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec pellentesque tellus. Aenean vel tellus diam, et tempus est. Proin dolor neque, viverra in laoreet eget, ornare et sem. In nec tortor id neque pellentesque volutpat eu et nunc. Duis iaculis orci eu dolor varius vel volutpat mi iaculis. Morbi vehicula, nisi in ullamcorper vehicula, sem elit imperdiet sapien, tristique sagittis nunc libero vel velit. Phasellus lobortis imperdiet est eu pretium. Curabitur enim libero, ultrices ut fringilla sed, tempus vitae sem. Duis at sem diam, eget tincidunt dui. Suspendisse tortor quam, ultrices a tincidunt eu, posuere bibendum lacus. Phasellus fermentum tortor et metus viverra vehicula.</p>

		</div>
		<div class = "span-4 last">
			<h2>H2 Header</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam diam lacus, cursus et commodo eget, feugiat vestibulum quam. Sed lorem leo, malesuada sit amet tempus eu, luctus in eros. Aliquam erat volutpat. Pellentesque vel turpis a leo auctor pulvinar ac non felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec pellentesque tellus. Aenean vel tellus diam, et tempus est. Proin dolor neque, viverra in laoreet eget, ornare et sem. In nec tortor id neque pellentesque volutpat eu et nunc. Duis iaculis orci eu dolor varius vel volutpat mi iaculis. Morbi vehicula, nisi in ullamcorper vehicula, sem elit imperdiet sapien, tristique sagittis nunc libero vel velit. Phasellus lobortis imperdiet est eu pretium. Curabitur enim libero, ultrices ut fringilla sed, tempus vitae sem. Duis at sem diam, eget tincidunt dui. Suspendisse tortor quam, ultrices a tincidunt eu, posuere bibendum lacus. Phasellus fermentum tortor et metus viverra vehicula.</p>
		</div>
	</div>
</body>
</html>