/* whatevs */

body {
	direction: ltr;
}

#home{
	
	position:absolute;
	margin-top: 25% ;
}
#home h1{
	font-size: 5em;
}
li{
	list-style-type: none;
	display:inline;
	float: left;
	margin-left:12px;
}

a{	
	text-decoration: none;
}


#navbar a {
	font-size: 2em;
	color: black;
}
