/* whatevs */
@import "bootstrap";



body {
	direction: ltr;
}

/* to set various background images
body.homepage {
	background: url('/assets/bg_city.jpg') no-repeat center center fixed; 
	background-size:cover;
}

body.tutor_show {
	background: url('/assets/profile_long.jpg') no-repeat center center fixed;
	background-size:cover;
}
*/

#home{
	
	position:absolute;
	margin-top: 25% ;
}
#home h1{
	font-size: 5em;
}
li{
	list-style-type: none;
	display:inline;
	float: left;
	margin-left:12px;
}

a{	
	text-decoration: none;
}


#navbar a {
	font-size: 2em;
	color: black;
}

.container{
	margin-top: 30px;
}

