.table-bordered th, .table-bordered td {
	border-right: 0px;
	border-left: 0px;		
}

.table-bordered {
	border:0px;
}

/*div.tabbable {
	width: 700px;
} */

td.class-title p.title a{
	font-size: 15px;
}
